
* {
    font-family: 'Courier New', Courier, monospace;
}

.eraserDiv {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.eraser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-style: solid;
    padding: 10px;
    background-color: pink;
}

.etch-a-sketch {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: 5px;
    border-style: dashed;
    padding: 10px;
    margin: 50px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px;
    border-style: solid;
}

.gridSquare {
    background-color: white;
    flex: 1 1 max-content;
}

.row {
    display: flex;
}

.colorDiv {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.color {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-style: solid;
    padding: 10px;
    background-color: lightblue;
}